<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeServer</title>
</head>
<style>
    html,body{
        height: 100%;
        width: 100%;
        margin: 0;
    }
    body {
        padding-top: 5rem;
        background-color:rgb(68, 70, 97);
        display: flex;
        flex-direction: column;
        align-items: center;  
        }
    h1{
        color: white;
        font-family: monospace;
        font-size: 3rem; 
        padding: 2rem;
    }
    </style>
    <body>
        <h1>MEU HOME SERVER</h1>
        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi.huffpost.com%2Fgadgets%2Fslideshows%2F327734%2Fslide_327734_3178845_free.gif&f=1&nofb=1" alt="animated" />
    </body>
</html>